<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand " href="#">Strona Praktyk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Strona główna <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="" tabindex="-1" aria-disabled="true">Oferta</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="services" tabindex="-1" aria-disabled="true">Galeria</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" tabindex="-1" aria-disabled="true">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="posts" tabindex="-1" aria-disabled="true">Komentarze</a>
        </li>
   
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" tabindex="-1" aria-disabled="true">Kontakt</a>
        </li>
   
      </ul>
    </div>
  </nav>
  