<div class="card card-inverse card-primary text-center">
  <img class="card-img-top"
    src="https://videohive.img.customer.envatousercontent.com/files/4cc45810-7b67-4f07-bb54-a6d92fdc2d9e/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=ea67f83de7eaf3d4e81e33bf8ef00ee1"
    alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">{{post.name}}</h4>
    <p class="card-text">
      {{post.description}}
    </p>
    <a href="http://v4-alpha.getbootstrap.com/components/card/" class="btn btn-primary">Button</a>
  </div>
</div>