<div class="jumbotron">
  <h1 class="display-4 text ">Strona główna</h1>
  <p class="lead text">Witaj na stronie głównej.</p>
  <hr class="my-4">
  <p></p>
</div>

<div class="row">
<div class="card mb-3 col mx-auto" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Nowy Post</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Ostatnia aktualizacja 10 minut temu.</small></p>
        <a href="#">Kontynuuj czytanie.</a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 col mx-auto" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Post</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Ostatnia aktualizacja 3 minuty temu.</small></p>
        <a href="#">Kontynuuj czytanie.</a>
      </div>
    </div>
  </div>
</div>
</div>

<main role="main" class="container">
<div class="row">
  <div class="col-md-8">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      Jakiś nagłówek
    </h3>

    <div>
      <h2>Przykładowy post bloga</h2>

      <p>Tekst z bloga</p>
      <h2>Przykładowy nagłówek</h2>
      Tu jest sobie jakiś tekst z bloga
    </div>

    <div>
      <h2>Jeszcze jeden post bloga</h2>

      <p>Tekst z bloga</p>
      <p>Dla przedłużenia strony i estetyki</p>
      <p></p>
      <p></p>
    </div>

    <nav>
      <a class="btn btn-outline-primary" href="#">Stasze</a>
      <a class="btn btn-outline-secondary disabled" href="#">Nowsze</a>
    </nav>
  </div>

  <aside class="col-md-4">
    <div class="p-3 mb-3 bg-light rounded">
      <h4 class="font-italic">O nas</h4>
      <p class="mb-0">Tu po francusku czcioneczka i krótki opis tej strony</p>
    </div>

    <div class="p-3">
      <h4 class="font-italic">Archiwum</h4>
      <ol class="list-unstyled mb-0">
        <li><a href="#">Styczeń 2019</a></li>
        <li><a href="#">luty 2019</a></li>
        <li><a href="#">Marzec 2019</a></li>
        <li><a href="#">Kwiecień 2019</a></li>
      </ol>
    </div>

    <div class="p-3">
      <h4 class="font-italic">Znajdziesz nas na</h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/praktyki2020">GitHub</a></li>
        <li><a href="https://twitter.com/home?lang=pl">Twitter</a></li>
        <li><a href="https://facebook.com">Facebook</a></li>
      </ol>
    </div>
  </aside>
</div>
</main>

