<div class="jumbotron">
    <h1 class="display-4 ">Strona główna</h1>
    <p class="lead">Witaj na stronie głównej.</p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <h2>Usługi które świadczymy</h2>

  <h2>Products</h2>

  <div *ngFor="let product of products">
  
    <h3>
      <a [title]="product.name + ' details'">
        {{ product.name }}
      </a>
    </h3>
  
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>
  
  </div>
