
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Tytuł naszego bloga</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>


<section class="my-5">


  <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
    <p class="mr-4 mb-0">O autorach bloga</p>
    <ul class="list-unstyled list-inline mb-0">
      <li class="list-inline-item"><a href="" class="text-default mr-3"><i class="fas fa-envelope mr-1"></i>Wyślij wiadomość</a></li>
      <li class="list-inline-item"><a href="" class="text-default mr-3"><i class="fas fa-user mr-1"></i>Zobacz profil</a></li>
      <li class="list-inline-item"><a href="" class="text-default mr-3"><i class="fas fa-rss mr-1"></i>Obserwuj</a></li>
    </ul>
  </div>
  <div class="media mt-4 px-1">
    <img class="card-img-100 rounded-circle d-flex z-depth-1 mr-3" src="https://babskiesprawy.pl/download/file.php?avatar=21756_1462801611.png"
      alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="font-weight-bold mt-0">
        <a class="text-default" href="">Oskar Kulesza i Marcin Szymonik</a>
      </h5>
      <ul class="list-unstyled list-inline mb-2 pt-1">
        <li class="list-inline-item">
          <a class="grey-text mr-1"><i class="fab fa-lg fa-facebook"> </i></a>
        </li>
        <li class="list-inline-item">
          <a class="grey-text mr-1"><i class="fab fa-lg fa-twitter"> </i></a>
        </li>
        <li class="list-inline-item">
          <a class="grey-text mr-1"><i class="fab fa-lg fa-google-plus"> </i></a>
        </li>
        <li class="list-inline-item">
          <a class="grey-text mr-1"><i class="fab fa-lg fa-linkedin"> </i></a>
        </li>
        <li class="list-inline-item">
          <a class="grey-text mr-1"><i class="fab fa-lg fa-instagram"> </i></a>
        </li>
      </ul>
      Czyś
    </div>
  </div>

</section>


<div class="row">
  <div class="card mb-3 col " style="max-width: 500px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Nowy Post</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Ostatnia aktualizacja 35 minut temu.</small></p>
          <a href="#">Kontynuuj czytanie.</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="card mb-3 col " style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Nowy Post</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Ostatnia aktualizacja 1 godzinę temu.</small></p>
            <a href="#">Kontynuuj czytanie.</a>
          </div>
        </div>
      </div>
    </div>
    
  <div class="row">
    <div class="card mb-3 col" style="max-width:500px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Nowy Post</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Ostatnia aktualizacja 10 minut temu.</small></p>
            <a href="#">Kontynuuj czytanie.</a>
          </div>
        </div>
      </div>
    </div>